#ignore all
*

#unginore folder
!*/
!assets/
!shaders/

#unignore compile
!*.cpp
!*.cc
!*.c
!*.hpp
!*.hh
!*.h
!Makefile

#unignore gdl_libs
!libfbxsdk.a
!libfbxsdk.so
!libgdl_gl.a
!libGLEW.a
!libSDL2.a
!libSDL2main.a

#unignore auteur
!auteur

#unignore itself
!.gitignore
